mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="User's profile picture")
    .textareaContainer
      textarea#postTextarea(placeholder="O que está rolando?")
      .buttonsContainer
        button#submitPostButton(disabled="") Postar

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title  Responder
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer
              img(src=userLoggedIn.profilePic, alt="User's profile picture")
            .textareaContainer
              textarea#replyTextarea(placeholder="Digite sua resposta" data-function="modal")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Fechar
          button#submitReplyButton.btn.btn-primary(type='button', disabled="") Responder
          
mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title  Deseja apagar a postagem?
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p Você não poderá reverter isso!
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Fechar
          button#deletePostButton.btn.btn-primary(type='button') Apagar
mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()
  +createPinnedPostModal()
  +createUnpinPostModal()


mixin createFollowButton(user, isFollowing)
  - text = isFollowing ? "Seguindo" : "Seguir"
  - buttonClass = isFollowing ? "followButton following" : "followButton"
  button(class=buttonClass, data-user=user._id) #{text}
          
mixin createTab(name, href, isSelected)
  - className = isSelected ? "tab active" : "tab"
  a(href=href, class=className)
    span #{name} 

mixin createImageUploadModal()
  #imageUploadModal.modal.fade(tabindex='-1' aria-labelledby='imageUploadModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#imageUploadModalLabel.modal-title  Adicione uma nova foto de perfil.
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          input#filePhoto(type="file", name="filePhoto")

          .imagePreviewContainer
            img#imagePreview
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
          button#imageUploadButton.btn.btn-primary(type='button') Salvar

mixin createCoverUploadModal()
  #coverPhotoUploadModal.modal.fade(tabindex='-1' aria-labelledby='coverPhotoUploadModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#coverPhotoUploadModalLabel.modal-title  Adicione uma nova foto de capa.
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          input#coverPhoto(type="file", name="coverPhoto")

          .imagePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
          button#coverPhotoButton.btn.btn-primary(type='button') Salvar

mixin createPinnedPostModal()
  #confirmPinModal.modal.fade(tabindex='-1' aria-labelledby='confirmPinModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#confirmPinModalLabel.modal-title  Destacar essa postagem?.
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p Essa postagem irá aparecer no topo do seu perfil. Você só pode destacar uma postagem sua.
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
          button#pinPostButton.btn.btn-primary(type='button') Destacar

mixin createUnpinPostModal()
  #unpinModal.modal.fade(tabindex='-1' aria-labelledby='unpinModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#unpinModalLabel.modal-title  Deseja remover o destaque?
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p Essa postagem deixará de aparecer como destacada.
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancelar
          button#unpinPostButton.btn.btn-primary(type='button') Remover