mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="User's profile picture")
    .textareaContainer
      textarea#postTextarea(placeholder="O que está rolando?")
      .buttonsContainer
        button#submitPostButton(disabled="") Postar

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title  Responder
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer
              img(src=userLoggedIn.profilePic, alt="User's profile picture")
            .textareaContainer
              textarea#replyTextarea(placeholder="Digite sua resposta" data-function="modal")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Fechar
          button#submitReplyButton.btn.btn-primary(type='button', disabled="") Responder
          
mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title  Deseja apagar a postagem?
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p Você não poderá reverter isso!
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Fechar
          button#deletePostButton.btn.btn-primary(type='button') Apagar
mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()


mixin createFollowButton(user, isFollowing)
  - text = isFollowing ? "Seguindo" : "Seguir"
  - buttonClass = isFollowing ? "followButton following" : "followButton"
  button(class=buttonClass, data-user=user._id) #{text}
          
mixin createTab(name, href, isSelected)
  - className = isSelected ? "tab active" : "tab"
  a(href=href, class=className)
    span #{name} 